.order_details{
    margin-bottom: 30px;

    .section_title{
        margin-bottom: 20px;
    }
    form{
        flex-direction: column;
        margin-bottom: 30px;

        label{
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
        }
        input, textarea, select{
            width: 100%;
            transition: .3s all ease;

            &:hover{
                background: rgba(255, 255, 255, 0.7);
                box-shadow: 4px 4px 8px rgba(46, 17, 77, 0.15);
            }
        }
        .double_form{
            display: flex;
            gap: 12px;

            label{
                &:nth-child(2){
                    width: 58%;
                }
            }
        }
        textarea{
            padding-top: 10px;
            min-height: 117px;
            max-height: 117px;
        }
        .agreement{
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: flex-start;
            width: 100%;

            input{
                border-radius: 5px;
                width: 20px;
                height: 20px;
                background: transparent;
                box-shadow: none;
                accent-color: desired-color;
            }
        }
    }
}