// SECTION PRIVACY
.privacy_policy{
    margin-bottom: 50px;

    .section_title{
        font-size: 34px;
    }
    .section_texts{
        font-weight: 500;

        .uppercase{
            text-transform: uppercase;
        }
    }

}