// SECTION TERMS
.terms_policy{
    text-align: center;
    margin-bottom: 50px;
    .section_title{
        line-height: 162.02%;
        margin-bottom: 43px;
    }
    .section_texts{
        font-size: 16px;
    }
    .terms_list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .terms_title{
            list-style: none;
            font-weight: 600;
            font-size: 18px;
        }
    }
}