// SECTION WARRANTY
.warranty_policy{
    margin-bottom: 50px;
    .section_title{
        font-size: 34px;
        line-height: 41px;
        margin-bottom: 20px;
    }
    .section_texts{
        font-weight: 500;
    }

}